{% extends "blog/base.html" %}

{% block content %}
<section >
    <div class="container bg-white p-4" style=" font-weight:bold; font-family:'Courier New', Courier, monospace;" class=" article-content p-3 m-1 text-warning">
        <h2 style="color:white; font-weight: bolder;" class="bg-dark text-center" >
            About Us
        </h2  >
        <div >
            <div class="text-center weight-5" style="font-weight:bolder; font-size:large; font-style:italic;">
                “The beating heart of every enterprise is its people and that is where you will find Mindworx.”
            </div >
            
Launched in 2002, Mindworx is a people-focussed niche consultancy. Whether it’s business consulting, empowerment advisory or resourcing of teams from middle management through to the C-suite that you require, our teams of experts will take the time to find out what it is you need, offer bespoke solutions, and provide them on time and within budget. You will find that we’re friendly, responsive, and know your market as well as you do.
Our Mindworx Academy is dedicated to providing recent graduates with scarce skills training to secure real digital job opportunities . We also provide ongoing development for the rest of your team in new critical skills for the 21st century workplace.
As a socially conscious Level 1 BEE Contributor, Mindworx also offers significant enhancement to client B-BBEE scorecards in the areas of transformation, skills development, supplier development and preferential procurement.
Make the connection and join the Mindworx network. Plug in. Prosper.

        </div>
    </div>
</section>
{% endblock content %}
