{% extends "blog/base.html" %}

{% block content %}
<section >
    <div class="container p-4 bg-white" style=" font-weight:bold; font-family:'Courier New', Courier, monospace;" class=" article-content p-3 m-1 text-warning">
        <h2 style="color:white; font-weight: bolder;" class="bg-dark text-center" >
            Contact Us
        </h2  >
        <div >
        <div>
            <address class="text-center">
                Tel: +27 11 484 4747/8
                <br>
                Email: info@mindworx.co.za
                <br>
                The Mall Offices
                8th Floor
                <br>
                11 Cradock Ave
                Rosebank, 
                <br>
                 Johannesburg
                PO Box 3112,
                <br> Parklands 2121

            </address>
           <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">From Pretoria</th>
                        <th scope="col">From Sandon</th>
                        <th scope="col">From Johannesburg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <td>•	Take the N1 South
                                •	Continue towards Johannesburg on the M1 South
                                •	Take the Glenhove Road exit
                                •	Turn right onto Glenhove Road
                                •	Continue onto Bolton Road
                                •	Turn right onto Cradock Avenue.
                            </td>
                            <td>
                                •	Take Rivonia Road in a southerly direction – this will become Oxford Road
                                •	Turn right into Baker Street
                                •	Turn right at the 1st cross street onto Cradock Avenue.
                            </td>
                            <td>
                                •	Take the M1 North towards Pretoria
                                •	Take the Glenhove Road exit
                                •	Merge onto Glenhove Road
                                •	Continue onto Bolton Road
                                •	Turn right onto Cradock Avenue.
                            </td>
                            
                        </th>
                    </tr>
                </tbody>
            </table>

           </div>
            <div>
                <blockquote class="alert alert-dark" role="alert">
                    Parking:
Parking available in the Rosebank Mall (entrance Cradock Avenue) or across the road in open parking. 

                </blockquote>
            </div>
            <div class="row bg-dark text-white p-3">
                <div class="col">Media & marketing enquiries <br>
                    Lingo Communications <br> info@lingocom.co.za
                </div>
                <div class="col">
                    Consulting <br>
                    Visagan Naidoo <br> visagann@mindworx.co.za <br> +27 83 639 7979
                </div>
                <div class="col">
                    Resourcing <br>
Thembi Nkosi <br> thembin@mindworx.co.za <br> +27 83 327 3019
                </div>
                <div class="col">
                    Contingent and Contracting <br>
Merilyn Nonti Tsindwi <br>
  nontokozot@mindworx.co.za <br>
   +27 71 893 4936
                </div>
                <div class="col">
                    Empowerment advisory <br>
Jonah Naidoo <br>
 jonahn@mindworx.co.za <br>
  +27 83 289 4893
                </div>
                <div class="col">
                    Academy <br>
Lwazi Sithole <br>
 lwazis@mindworx.co.za <br>
  +27 71 256 6311
                </div>
            </div>
        </div>
        <div>
            
        </div>

        </div>
    </div>
</section>
{% endblock content %}
